<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
                <div class="content">
                    <h3>Your vision, our blueprint: Tools that speak your language.</h3>
                    <p>
                        Where ideas spark, and problems vanish, unleash your software potential with VIRTUOSPARK.
                    </p>
                    <a style="cursor: pointer;" class="about-btn" onclick="aboutscrool()"><span>About us</span> <i
                            class="bx bx-chevron-right"></i></a>
                </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class='bx bx-brain'></i>
                            <h4>Young brains</h4>
                            <p>Supercharged engines, fueled by the curiosity of young minds. We secure, accessible tools
                                to ignite their imagination and help build amazing things.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class='bx bx-bulb' style='color:#e03a3c'></i>
                            <h4>Ideal solution</h4>
                            <p>Stop settling our ideal solution unlocks your potential, fitting seamlessly. Discover the
                                satisfaction of coding expertise.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class='bx bx-code'></i>
                            <h4>Trustworthy</h4>
                            <p>Our team boasts a proven track record of successful projects delivered on time and within
                                budget.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class='bx bx-shield'></i>
                            <h4>Security</h4>
                            <p>VIRTUOSPARK provides secure solutions, encrypting your data at rest and in transit for
                                complete peace of mind.</p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>

<section id="additional-content" class="about" style="display: none;">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <!-- Vision Box -->
            <div class="col-lg-12">
                <div class="vision-box card">
                    <div class="content-box" style="padding: 10px;">
                        <h4 class="font-weight-bold">Our Vision</h4>
                        <p>To revolutionize the software industry by empowering businesses of all sizes to leverage
                            cutting-edge technology to achieve their unique goals and aspirations. We envision a
                            future where software is not just a tool but a strategic partner, seamlessly integrated
                            into every aspect of an organization's operations, efficiency, and growth.</p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mission Box -->
            <div class="col-lg-12 mt-4">
                <div class="mission-box card">
                    <div class="content-box" style="padding: 10px;">
                        <h4 class="font-weight-bold">Our Mission</h4>
                        <p>Our mission is to provide exceptional, client-centric software solutions that are
                            tailored to each client's specific needs and challenges. We achieve this through a
                            collaborative approach, where we work closely with our clients to understand their
                            vision, develop innovative solutions, and deliver projects on time and within budget.
                        </p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Motto Box -->
            <div class="col-lg-12 mt-4">
                <div class="motto-box card">
                    <div class="content-box" style="padding: 10px;">
                        <h4 class="font-weight-bold">Our Motto</h4>
                        <p>Our motto goes beyond simply creating software or offering services. We're driven by a
                            deep-seated desire to unleash the potential that lies within individuals, businesses,
                            and communities. We believe that technology is a powerful tool that can be harnessed to
                            empower innovation and drive positive change in the world.</p>
                        <div class="go-corner" href="#">
                            <div class="go-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>