<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Virtuospark</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  
  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="/">Virtuospark<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="static/assets/img/logo.png" alt=""></a>-->


          {% include 'navbar.html' %}

      <a href="register" class="get-started-btn scrollto">Register</a>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <h2>Careers</h2>

      </div>
    </section><!-- End Breadcrumbs -->
      <!-- ======= Hero Section ======= -->
  <section id="career-hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="career-row">
          <h1>Crafting solutions that decode your unique requirements</h1>
          <h2>Your Sccess, Our Code</h2>
          <h3>Join us in an environment that celebrates innovation and empowers individuals to thrive <br>in their professional journey and shaping the future of technology solutions</h3>
          <a href="#intern" class="btn-get-started scrollto link-arrow">View Open Roles<span>></span></a>
      </div>
    </div>

  </section>
  <!-- End Hero -->
  <!-- ======= Team Section ======= -->
  <section id="intern" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Some Internship Opportunities</h2>
        <p>We Offer !!!</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="static/assets/img/blog/app.jpg" class="img-fluid" alt="">
              <div class="career-social">
                <a href="register">Register Now</a>
              </div>
            </div>
            <div class="member-info">
              <h4>App Development</h4>
              <span>Turning your ideas into mobile magic and craft engaging apps that simplify your life, connect you to what matters, and elevate our business.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="static/assets/img/blog/uiux.jpg" class="img-fluid" alt="">
              <div class="career-social">
                <a href="register">Register Now</a>
              </div>
            </div>
            <div class="member-info">
              <h4>UI/UX Design</h4>
              <span>Designing experiences that feel as good as they look and intuit UIs and seamless UXs that connect users to our brand.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="static/assets/img/blog/web.jpg" class="img-fluid" alt="">
              <div class="career-social">
                <a href="register">Register Now</a>
              </div>
            </div>
            <div class="member-info">
              <h4>Web Development</h4>
              <span>Building the web pixel by pixel and Equip young minds with web development skills and watch their ideas come alive online.</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="static/assets/img/blog/digital.jpg" class="img-fluid" alt="">
              <div class="career-social">
                <a href="register">Register Now</a>
              </div>
            </div>
            <div class="member-info">
              <h4>Digital Marketing</h4>
              <span>Dive into social media mastery, content creation magic, and data-driven strategies, equipping you to launch a thriving career in the dynamic world of digital marketing.</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <section id="finding" class="finding">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Can't find what your are looking for?</h2>
        <p>Register on our Portal and get notified when new roles that match your skills open up.</p>
        <br>
        <a href="register" class="get-started-btn scrollto link-arrow">Register<span>></span></a>
      </div>
    </div>
  </section>
    
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container" style="display: flex; justify-content: center; text-align: center;">
        <div class="row">
            <p>Powered by</p>
            <h1 class="logo me-auto"><a href="index.html">Virtuospark<span>.</span></a></h1>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Virtuospark</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <ul>
          <li class="item">
            <a href="#" class="twitter"><i class="icon bx bxl-twitter"></i></a>
          </li>
          <li class="item">
            <a href="#" class="facebook"><i class="icon bx bxl-facebook"></i></a>
          </li>
          <li class="item">
            <a href="https://www.instagram.com/virtuospark?igsh=NDFyYmVvODlseHZk" class="instagram"><i class="icon bx bxl-instagram"></i></a>
          </li>
          <li class="item">
            <a href="#" class="linkedin"><i class="icon bx bxl-linkedin"></i></a>
          </li>
          <li class="item">
            <a href="#" class="youtube"><i class="icon bx bxl-whatsapp"></i></a>
          </li>
        </ul>
        
                    
        
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="scroll-Top">
    <a href="#" class="return-to-top back-to-top d-flex align-items-center justify-content-center">
      <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>