<form class="eform" method="POST" action="/submit_form">
    <div class="eform-group">
        <input type="text" class="eform-control" placeholder="First Name" value="" name="first_name" />
    </div>
    <div class="eform-group">
        <input type="text" class="eform-control" placeholder="Last Name" value="" name="last_name" />
    </div>
    <div class="eform-group">
        <input type="phone" id="mobile_code" class="eform-control intlTelInput" placeholder="Phone Number"
            name="phone_number">
    </div>
    <div class="eform-group">
        <input type="text" class="eform-control" placeholder="Email" name="email">
    </div>
    <button type="submit" class="btn form-submit">Submit</button><br>
    <span> By proceeding you agree to the
        <a href="termofservice.html">Terms</a> and <a href="privacypolicy.html">Privacy Policy.</a>
    </span>
</form>