<div class="social-links text-center text-md-end pt-3 pt-md-0">
    <ul>
        <li class="item">
            <a href="https://x.com/virtuospark?t=nD6vMrFYNbxk0HoKobqiDQ&s=09" class="twitter"><i
                    class="icon bx bxl-twitter"></i></a>
        </li>
        <li class="item">
            <a href="https://www.facebook.com/profile.php?id=61556189139151&mibextid=rS40aB7S9Ucbxw6v"
                class="facebook"><i class="icon bx bxl-facebook"></i></a>
        </li>
        <li class="item">
            <a href="https://www.instagram.com/virtuospark?igsh=NDFyYmVvODlseHZk" class="instagram"><i
                    class="icon bx bxl-instagram"></i></a>
        </li>
        <li class="item">
            <a href="https://www.linkedin.com/in/virtuospark-technologies-1532152b4?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                class="linkedin"><i class="icon bx bxl-linkedin"></i></a>
        </li>
        <li class="item">
            <a target="_blank" href="https://wa.me/7871007741" class="youtube"><i class="icon bx bxl-whatsapp"></i></a>
        </li>
    </ul>
</div>